* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    color: #fff;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0rem;
    background: #262626;
    z-index: 9;
    margin-bottom: 1rem;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 4%;
    gap: 0.5rem;
    font-weight: 100;
}

.logo h3 span {
    color: #ff004f;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0.5rem 2rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0%;
    height: 1.5px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -0.3rem;
    transition: 0.3s;
}


nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    display: flex;
    flex-direction: column;
    margin-left: 12%;
    position: absolute;
    top: 40%;
}

.header-desc1{
    font-size: 1rem;
    margin-bottom: 0.7rem;
}

.header-desc2{
    font-size: 0.7rem;
    margin-top: 0.7rem;
}

.header-text h1 {
    font-size: 2rem;
}

.header-text h1 span {
    color: #ff004f;
}

.sub-title {
    color: white;
    font-size: 1.6rem;
    margin-bottom: 0.7rem;
    display: inline-block;
}

/* --------------About Section-------------- */

#about {
    padding: 0 2rem;
    color: #ababab;
    margin-top: 2rem;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
}

.about-col-2 {
    flex-basis: 60%;
}

.about-col-2 h1 {}

.about-col-2 p {
    font-size: 0.8rem;
}



.tab-titles {
    display: flex;
    gap: 33%;
    margin-top: 4%;
    flex-wrap: wrap;
}

.tab-links {
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0%;
    height: 1px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -0.3rem;
    transition: 0.2s;
}

.tab-links:hover::after {
    width: 100%;
}

.tab-links.active-link::after {
    width: 100%;
}

.tab-links.active-link.expand::after {
    width: 100%;
    /* Full width when class is added */
}

.tab-contents {
    margin: 1.5rem 0 0 0;
    line-height: 1.3rem;
    display: none;
}

.tab-contents ul li {
    list-style: none;
    font-size: 0.6rem;
}

.tab-contents ul li span {
    color: #b54769;
    font-weight: 600;
}

.tab-contents.active-tab {
    display: block;
}


/* -------------services-------------- */

#services {
    padding: 2rem;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    margin-top: 2rem;
}

.services-list div {
    background: #262626;
    padding: 0.8rem;
    font-size: 0.8rem;
    font-weight: 300;
    border-right: 0.7rem;
    border-radius: 5px;
    transition: transform 0.5s, background 0.3s;
    cursor: pointer;
}

.services-list div i {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.services-list div h2 {
    font-size: 1.3rem;
    margin-bottom: 0.6rem;
}

.services-list div p {
    font-size: 0.8rem;
    color: #ababab;
    margin-bottom: 0.7rem;
}

.services-list div a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #fff;
    cursor: pointer;

}

.services-list div a:hover {
    color: black;
}

.services-list div:hover {
    background: #ff004f;
    transform: translateY(-5px);
}

/* ---------------portfolio--------- */

#portfolio {
    padding: 0 0 0 2rem;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-top: 2rem;
    align-content: center;
    justify-content: center;
}

.work {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    width: 90%;
    transition: height 0.3s;
}

.work:hover .layer {
    height: 100%;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.3s;
}

.work:hover img {
    transform: scale(1.2);
}

.layer {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    font-size: 0.8rem;
    height: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.8rem;
    line-height: 1.2rem;
    text-align: center;
    padding: 0 1.4rem;
    transition: height 0.3s;
}

.layer a {
    background: white;
    padding: 1rem;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    text-decoration: none;
    padding: 0.3rem;
    margin: 1.5rem auto;
    background: transparent;
    display: block;
    width: fit-content;
    border: 1px solid #ff004f;
    border-radius: 3px;
    text-align: center;
    color: white;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #ff004f;
}

/* -----------Contact--------- */

#contact {
    /* padding: 1rem 2rem; */
    position: relative;
}

#contact .container {
    padding: 1rem 2rem;
}

.contact-left {
    flex-basis: 35%;
    text-align: center;

}

.contact-left p {
    margin-top: 1rem;
}

.contact-left p i {
    color: #ff004f;
    margin-right: 1rem;
}

.social-icons {
    margin-top: 1rem;
}

.social-icons a {
    text-decoration: none;
    color: #ababab;
    font-size: 1.3rem;
    margin-right: 1rem;
    display: inline-block;
    transition: transform 0.3s;
}

.social-icons a:hover {
    color: #ff004f;
    transform: translateY(-5px);
}

.btn.btn2 {
    display: inline-block;
    background: #ff004f;
}

.contact-right {
    flex-basis: 60%;
    text-align: center;

}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: 0;
    background: #262626;
    padding: 0.5rem;
    margin: 0.5rem 0;
    color: #fff;
    /* font-size: 1.1rem; */
    border-radius: 6px;
}

form .btn2 {
    cursor: pointer;
    margin: 0.5rem auto;
    display: inline-block;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 0.7rem 0;
    background: #262626;
    position: absolute;
    font-size: 0.7rem;
    margin-top: 1rem;
}

.copyright p i {
    color: #ff004f;
}

/* ----------Responsive-------------- */

#sidemenu .fa-xmark {
    display: none;
}

nav .fa-bars {
    display: none;
}

@media screen and (max-width:600px) {
    #header {
        background-image: url(images/phone-background.png);
    }

    .header-text p {
        font-size: 0.7rem;
    }

    .header-text {
        margin-top:25%;
        display: flex;
        flex-direction: column;
        gap: 0rem;
        margin-left: 5%;
    }

    .header-text h1 {
        font-size: 1.1rem;
    }


    nav ul {
        background: #ff004f;
        position: fixed;
        top: 0;
        right: 0;
        width: 40%;
        right: -50%;
        height: 100vh;
        padding-top: 3rem;
        z-index: 2;
        transition: right 0.3s;
    }

    nav ul li {
        display: block;
        margin: 1.5rem;
    }

    .logo {
        font-weight: 300;
    }

    #sidemenu .fa-xmark {
        display: block;
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
        font-size: 1.5rem;
    }

    nav .fa-bars {
        display: block;
        position: absolute;
        right: 1.5rem;
        font-size: 1rem;
    }

    /* -----------about----------- */

    .row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .about-col-1 {
        flex-basis: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about-col-1 img {
        width: 60%;
    }

    .about-col-2 {
        margin-top: 1.5rem;
    }

    .tab-titles {
        display: flex;
        gap: 17%;
        margin-top: 4%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .tab-contents ul li {
        list-style: none;
        font-size: 0.8rem;
        margin-bottom: 0.6rem;
    }

    .work-list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .work {

        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .work img {
        width: 60%;
        margin-bottom: 1rem;
    }

    .layer {
        width: 60%;
        background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
        border-radius: 10px;
        position: absolute;
        left: 20%;
        bottom: 7%;
        overflow: hidden;
        font-size: 0.6rem;
        gap: 0.3rem;
        line-height: 0.8rem;
        padding: 0 1rem;
        transition: height 0.3s;
    }

    .layer a {
        margin-top: 1.5rem;
    }

    .work:hover img {
        transform: scale(1);
        border-radius: 10px;
    }

    .contact-left {
        flex-basis: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .contact-right form {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }

}